body {
    margin-top: 0%;
    margin: 5%;
    justify-content: center;
    overflow: hidden;
    background-color: #DFEBEB;
}
.box-wrapper {
    height: 95vh;
    width: 10%;
    display: flex;
    flex-direction: column;
    text-align: center;
}

#box1 {
    padding: 100px;
    border: solid 1px black;
    background-color: #FEC868;
    margin-left: auto;
    margin-right: auto;
    width: 5%;
}

#box2 {
    padding: 100px;
    border: solid 1px black;
    background-color: #A8D1D1;
    margin-left: auto;
    margin-right: auto;
    width: 5%;
}

#box3 {
    padding: 100px;
    border: solid 1px black;
    background-color: #DAB894;
    margin-left: auto;
    margin-right: auto;
    width: 5%;
}